@charset "UTF-8";
:root {
  --primary: #2d653b;
  --secondary: #367546;
  --hover-primary: #62a575;
  --bg-primary: #f9fcfa;
  --color: #011305;
}

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-size: 16px;
  color: #a6f3ba;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hover-primary);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  text-align: center;
  line-height: 2.13;
  word-break: break-all;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  letter-spacing: 0.06em;
  font-weight: bold;
  -webkit-text-size-adjust: 100%;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--color);
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    min-height: auto;
  }
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: var(--color);
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

a:hover {
  -moz-opacity: 0.7;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
a:hover img {
  -moz-opacity: 0.7;
  opacity: 0.7;
  filter: alpha(opacity=70);
  border: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1440px;
  padding: 0 5%;
  margin: auto;
}

.btn-outline {
  position: relative;
  margin-top: 30px;
  border: 1px solid var(--color);
  border-radius: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 15px;
  width: 250px;
  height: 46px;
  background: #fff;
}

.btn-outline > span {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.btn-outline > span > span:last-child {
  width: 18px;
  height: 18px;
  background: url(../img/common/btn/ico-btn-arrow-primary.svg) no-repeat
    center/cover;
}

.btn-outline::after {
  content: "";
  width: 0%;
  height: 100%;
  border-radius: 23px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--primary);
  transition: all 0.3s;
}

.btn-outline:hover {
  border: 1px solid transparent;
  color: white;
}

.btn-outline:hover::after {
  width: 100%;
}

.btn-outline:hover > span > span:last-child {
  background: url(../img/common/btn/ico-btn-arrow-white.svg) no-repeat
    center/cover;
}

@media screen and (max-width: 768px) {
  .btn-outline {
    margin-top: 36px;
    margin-bottom: 36px;
  }
}

.font-x-small {
  font-size: 0.75rem;
}

.font-small {
  font-size: 0.875rem;
}

.font-large {
  font-size: 1.0625rem;
}

.font-x-large {
  font-size: 1.4375rem;
}

.font-xx-large {
  font-size: 1.625rem;
}

.font-xxx-large {
  font-size: 1.875rem;
}

.font-bold {
  font-weight: bold;
}

.text-red {
  color: red;
}

.text-white {
  color: white;
}

.font-italic {
  font-style: italic;
}

.border {
  border-bottom: 1px solid var(--color);
  padding-bottom: 2px;
  width: 100%;
}

.txt-attention {
  padding: 0 0 0 0.7em;
  text-indent: -0.7em;
  color: var(--primary);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.border-dashed {
  border: none;
  border-top: 1px dashed #ccc;
  height: 1px;
}

.relative {
  position: relative;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-sm {
  margin-bottom: 10px;
}

.mb-main {
  margin-bottom: 30px;
}

.mb-lg {
  margin-bottom: 60px;
}

.m-auto {
  margin: auto;
}

@media screen and (max-width: 768px) {
  .mb-lg {
    margin-bottom: 40px;
  }
}

.mb-xl {
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .mb-xl {
    margin-bottom: 60px;
  }
}

.mb-xxl {
  margin-bottom: 120px;
}
@media screen and (max-width: 768px) {
  .mb-xxl {
    margin-bottom: 80px;
  }
}

.mb-max {
  margin-bottom: 150px;
}
@media screen and (max-width: 768px) {
  .mb-max {
    margin-bottom: 120px;
  }
}

.mb-5 {
  margin-bottom: 20px;
}

.br-sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .br-sp {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .u-br-notsp {
    display: none;
  }
}

@media (min-width: 700px) {
  .u-over-parent,
  footer,
  .footer-bottom,
  .top-message,
  .top-gallery,
  .top-making,
  .top-instagram,
  .top-instagram-inner {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }
}

@media (min-width: 700px) {
  .u-padding-pagewidth,
  .top-message,
  .top-making,
  .top-instagram,
  .top-instagram-inner {
    padding-left: calc(50vw - 595px);
    padding-right: calc(50vw - 595px);
  }
}

@media (min-width: 700px) {
  .u-padding-pagewidth--s {
    padding-left: calc(50vw - 360px);
    padding-right: calc(50vw - 360px);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translate(-50%, -75%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translate(-50%, -50%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animation {
  opacity: 0;
  -webkit-transition: 3s;
  transition: 3s;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}

.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.pc-hidden {
  display: none;
}
@media screen and (max-width: 768px) {
  .pc-hidden {
    display: block;
  }
}

.btn-pagetop {
  position: fixed;
  right: 56px;
  bottom: 56px;
}
@media screen and (max-width: 768px) {
  .btn-pagetop {
    right: 5px;
    bottom: 5px;
  }
  .btn-pagetop img {
    width: 32px;
    height: auto;
  }
}

/* slideshow start */
.slideshow {
  position: relative;
  list-style: none;
  z-index: 1;
  width: 500px;
  height: 450px;
}

@media screen and (max-width: 768px) {
  .slideshow {
    width: 100%;
    height: 450px;
  }
}

@media screen and (max-width: 425px) {
  .slideshow {
    width: 100%;
    height: 340px;
  }
}

.slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 12s linear infinite 0s;
}

.slideshow li span img {
  border-radius: 10%;
  width: 100%;
  height: 450px;
  object-fit: cover;
}

@media screen and (max-width: 425px) {
  .slideshow li span img {
    border-radius: 10%;
    width: 100%;
    height: 340px;
    object-fit: cover;
  }
}

.slideshow li:nth-child(1) span {
  color: #fff;
}

.slideshow li:nth-child(2) span {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s;
  color: #fff;
}

.slideshow li:nth-child(3) span {
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  animation-delay: 8s;
  color: #fff;
}

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }
  12.5% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes imageAnimation {
  0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in;
  }
  12.5% {
    opacity: 1;
    -moz-animation-timing-function: ease-out;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  12.5% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.no-cssanimations .slideshow li span {
  opacity: 1;
}
/* slideshow end */

/* to-top start */
.to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 3;
  width: 60px;
  height: 60px;
  border-radius: 100% 100%;
  background-color: var(--secondary);
  backdrop-filter: blur(10px);
  color: white;
  display: none;
  font-size: 1.5rem;
  animation: bounce 1s infinite;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .to-top {
    bottom: 0rem;
    right: 0rem;
  }
}

.to-top:hover {
  background-color: var(--hover-primary);
}

.display-shown {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* to-top end */

/* header start */
header {
  position: fixed;
  z-index: 2;
  width: 100%;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
}

.header-shown {
  background-color: white;
  background-color: #ffffffb3;
  backdrop-filter: blur(10px);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.navbar .nav-logo > a {
  width: 120px;
  height: 120px;
  display: flex;
}

@media screen and (max-width: 425px) {
  .navbar .nav-logo > a {
    width: 60px;
    height: 60px;
  }
}

.menu-list > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.menu-list > ul > li {
  display: block;
  width: 100%;
}

.menu-list > ul > li > a {
  white-space: nowrap;
  padding: 16px;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 600;
}

.menu-list > ul > li > a > img {
  display: none;
}

.navbar .ham-btn {
  cursor: pointer;
  display: none;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--color);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -7px) rotate(45deg);
}

.navbar .ham-btn > span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: var(--color);
  margin: 7px 0;
}

.menu-list > ul > li:last-of-type {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-list {
    background: #fff url(../img/common/catch/bgi--01.png) center top 0px/100%
      auto no-repeat;
    backdrop-filter: blur(10px);
    max-height: 0;
    overflow: hidden;
    transform: translateY(-0.5rem);
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    box-shadow: 0px 5px 10px #eaeee0;
    background-color: #fdfdfc;
    transition: all 0.5s;
  }

  .shown {
    max-height: 100vh;
  }

  .navbar .ham-btn {
    display: block;
  }

  .menu-list > ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
  }

  .menu-list > ul > li > a {
    font-size: 1.5rem;
    display: block;
  }

  .menu-list > ul > li > a:hover {
    background-color: #eef5f0;
  }

  .menu-list > ul > li:last-of-type {
    display: flex;
    justify-content: center;
  }

  .menu-list > ul > li:nth-child(5) {
    display: none;
  }

  .menu-list > ul > li:last-of-type > a {
    padding: unset;
    font-size: 1rem;
    display: flex;
    justify-content: center;
  }
}

/* @media screen and (max-width: 425px) {
  .menu-list > ul > li:last-of-type > a {
    width: 250px;
    height: 46px;
    font-size: 1rem;
  }
} */

/* header end */

/* section start */
.section-main-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--primary);
  display: inline-block;
  width: 100%;
}

@media screen and (max-width: 425px) {
  .section-main-title {
    font-size: 1.8rem;
  }
}
.section-title {
  margin-bottom: 45px;
}

.section-subtitle2 {
  font-size: 1.625rem;
  color: var(--color);
  font-weight: bold;
  letter-spacing: 0.13em;
  line-height: 1.54;
}

.section-subtitle1 {
  font-family: "futura-pt", sans-serif;
  font-size: 1rem;
  color: var(--color);
  letter-spacing: 0.15rem;
  line-height: 1.33;
  margin-bottom: 15px;
}

.section-title.font-rl {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.section-title.font-rl .section-subtitle1 {
  margin-left: 24px;
}

@media screen and (max-width: 768px) {
  .section-title {
    margin-bottom: 20px;
  }
  .section-subtitle2 {
    font-size: 1.4rem;
  }
  .section-subtitle1 {
    margin-bottom: 10px;
  }
  .section-title.font-rl .section-subtitle1 {
    margin-left: 10px;
  }
}

/* section end */

/* footer start */
footer {
  padding-top: 70px;
  margin-top: -70px;
  background: url(../img/common/footer/footer-bg.svg) repeat-x top center/auto
    70px;
}

@media (max-width: 768px) {
  footer {
    background: url(../img/common/footer/footer-bg.svg) no-repeat top
      center/auto 40px;
    padding-top: 40px;
    margin-top: -40px;
  }

  footer .btn-outline {
    margin: 36px auto;
  }
}

.footer-content {
  padding: 70px 0 60px;
  background-color: var(--primary);
}

.footer-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
}

.contact-logo img {
  max-width: 100%;
  width: 194px;
}

@media (max-width: 768px) {
  .footer-contact {
    display: block;
  }
  .contact-logo {
    display: none;
  }
  .contact-content p {
    text-align: center;
  }
}

.contact-content {
  text-align: left;
  color: white;
}

footer .menu-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

footer .menu-list > ul > li {
  width: unset;
  display: inline-block;
}

footer .menu-list a {
  color: white;
}

.footer-sns-section {
  margin-bottom: 40px;
}

.footer-sns-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.copyright {
  color: white;
  letter-spacing: 0.1em;
}
/* footer end */
