@charset "UTF-8";
:root {
  --primary: #2d653b;
  --hover-primary: #eef5f0;
  --bg-primary: #f9fcfa;
  --color: #011305;
}

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  text-align: center;
  line-height: 2.13;
  word-break: break-all;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  letter-spacing: 0.06em;
  font-weight: bold;
  -webkit-text-size-adjust: 100%;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--color);
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    min-height: auto;
  }
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: var(--color);
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

a:hover {
  -moz-opacity: 0.7;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
a:hover img {
  -moz-opacity: 0.7;
  opacity: 0.7;
  filter: alpha(opacity=70);
  border: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1440px;
  padding: 0 5%;
  margin: auto;
}

.btn {
  font-size: 1.0625rem;
  letter-spacing: 0.13em;
  border-bottom: 1px dashed var(--color);
  padding-bottom: 8.5px;
  position: relative;
  padding-right: 35px;
}
.btn::after {
  content: url(../img/common/btn/ico--btn-arrow.svg);
  position: absolute;
  right: 3px;
  top: -3px;
}

.btn-shopping {
  margin-top: 30px;
  border: 1px solid var(--color);
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 15px;
  width: 373px;
  height: 70px;
  background: #fff;
}

@media screen and (max-width: 768px) {
  .btn-shopping {
    margin-top: 36px;
    margin-bottom: 36px;
    width: 100%;
  }
}

.font-x-small {
  font-size: 0.75rem;
}

.font-small {
  font-size: 0.875rem;
}

.font-large {
  font-size: 1.0625rem;
}

.font-x-large {
  font-size: 1.4375rem;
}

.font-xx-large {
  font-size: 1.625rem;
}

.font-xxx-large {
  font-size: 1.875rem;
}

.font-bold {
  font-weight: bold;
}

.text-red {
  color: red;
}

.text-white {
  color: white;
}

.font-italic {
  font-style: italic;
}

.border {
  border-bottom: 1px solid var(--color);
  padding-bottom: 2px;
  width: 100%;
}

.txt-attention {
  padding: 0 0 0 0.7em;
  text-indent: -0.7em;
  color: var(--primary);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.border-dashed {
  border: none;
  border-top: 1px dashed #ccc;
  height: 1px;
}

.relative {
  position: relative;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-sm {
  margin-bottom: 10px;
}

.mb-main {
  margin-bottom: 30px;
}

.mb-lg {
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .mb-lg {
    margin-bottom: 40px;
  }
}

.mb-xl {
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .mb-xl {
    margin-bottom: 60px;
  }
}

.mb-xxl {
  margin-bottom: 120px;
}
@media screen and (max-width: 768px) {
  .mb-xxl {
    margin-bottom: 80px;
  }
}

.mb-max {
  margin-bottom: 150px;
}
@media screen and (max-width: 768px) {
  .mb-max {
    margin-bottom: 120px;
  }
}

.mb-5 {
  margin-bottom: 20px;
}

.u-br-sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .u-br-sp {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .u-br-notsp {
    display: none;
  }
}

@media (min-width: 700px) {
  .u-over-parent,
  footer,
  .footer-bottom,
  .top-message,
  .top-gallery,
  .top-making,
  .top-instagram,
  .top-instagram__inner {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }
}

@media (min-width: 700px) {
  .u-padding-pagewidth,
  .top-message,
  .top-making,
  .top-instagram,
  .top-instagram__inner {
    padding-left: calc(50vw - 595px);
    padding-right: calc(50vw - 595px);
  }
}

@media (min-width: 700px) {
  .u-padding-pagewidth--s {
    padding-left: calc(50vw - 360px);
    padding-right: calc(50vw - 360px);
  }
}

.animation {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 3s;
  transition: 3s;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}

.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.pc-hidden {
  display: none;
}
@media screen and (max-width: 768px) {
  .pc-hidden {
    display: block;
  }
}

.btn-pagetop {
  position: fixed;
  right: 56px;
  bottom: 56px;
}
@media screen and (max-width: 768px) {
  .btn-pagetop {
    right: 5px;
    bottom: 5px;
  }
  .btn-pagetop img {
    width: 32px;
    height: auto;
  }
}

/* header start */
header {
  width: calc(100% - 1rem);
  position: fixed;
  z-index: 9999;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.header-shown {
  background-color: white;
  background-color: #ffffffb3;
  backdrop-filter: blur(10px);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.navbar .nav-logo > a {
  display: block;
  width: 80px;
  height: 80px;
  background: url(../img/common/header/logo.png) top center/cover no-repeat;
  text-indent: -9999px;
}

.navbar .menu-list > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.navbar .menu-list > ul > li {
  display: block;
  width: 100%;
}

.navbar .menu-list > ul > li > a {
  white-space: nowrap;
  padding: 16px;
  cursor: pointer;
}

.navbar .menu-list > ul > li > a > img {
  display: none;
}

.navbar .ham-btn {
  cursor: pointer;
  display: none;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--color);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -9px) rotate(45deg);
}

.navbar .ham-btn > span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: var(--color);
  margin: 6px 0;
}

@media screen and (max-width: 768px) {
  .menu-list {
    max-height: 0;
    overflow: hidden;
    transform: translateY(112px);
    position: absolute;
    width: 100%;
    height: calc(100vh - 112px);
    top: 0;
    left: 0;
    background: white;
    box-shadow: 0px 5px 10px #eaeee0;
    background-color: #fdfdfc;
    transition: all 0.5s;
  }

  .shown {
    max-height: calc(100vh - 112px);
  }

  .navbar .ham-btn {
    display: block;
  }

  .navbar .menu-list > ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 1rem 0;
  }

  .navbar .menu-list > ul > li > a {
    font-size: 1.5rem;
    display: block;
  }

  .navbar .menu-list > ul > li > a:hover {
    background-color: var(--hover-primary);
  }

  .menu-list > ul > li:last-of-type {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .navbar .menu-list > ul > li:last-of-type > a {
    border: 1px solid var(--color);
    border-radius: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 15px;
    width: 300px;
    height: 50px;
    background: white;
  }

  .menu-list > ul > li:last-of-type > a > img {
    display: block;
  }
}

/* header end */

/* section start */
.section-title {
  margin-bottom: 45px;
}

.section-title__jp {
  font-size: 1.625rem;
  color: var(--color);
  font-weight: bold;
  letter-spacing: 0.13em;
  line-height: 1.54;
}

.section-title__en {
  font-family: "futura-pt", sans-serif;
  font-size: 1rem;
  color: var(--color);
  letter-spacing: 0.15rem;
  line-height: 1.33;
  margin-bottom: 15px;
}

.section-title.font-rl {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.section-title.font-rl .section-title__en {
  margin-left: 24px;
}

@media screen and (max-width: 768px) {
  .section-title {
    margin-bottom: 20px;
  }
  .section-title__jp {
    font-size: 1.4rem;
  }
  .section-title__en {
    margin-bottom: 10px;
  }
  .section-title.font-rl .section-title__en {
    margin-left: 10px;
  }
}

/* section end */

/* footer start */
footer {
  background: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 0px;
}
@media screen and (max-width: 768px) {
  footer {
    width: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 60px;
  }
}

.footer-contact {
  position: relative;
  z-index: 2;
  background-color: var(--bg-primary);
  padding: 40px 0 60px;
}

.footer-contact .container {
  width: fit-content;
  margin: auto;
}

.footer-contact .section-title__en {
  font-weight: normal;
  margin-bottom: 35px;
}
.footer-contact__tel {
  font-size: 2.5625rem;
  font-family: "futura-pt", sans-serif;
  line-height: 1;
}
.footer-contact__address {
  font-size: 0.9375rem;
}

.footer-contact .row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10%;
}

.footer-contact .row > .col {
  flex: 1 1 auto;
  height: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .footer-contact {
    padding: 0px 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .footer-contact .section-title__en {
    margin-bottom: 25px;
  }
  .footer-contact .font-large {
    font-size: 1.1333333333rem;
  }
  .footer-contact .col + .col {
    margin-top: 48px;
  }
  .footer-contact__tel {
    font-size: 2.7333333333rem;
  }
}

.footer-sns-list {
  margin-top: 20px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .footer-sns-list {
    margin-top: 30px;
  }
}

.footer-bottom {
  height: 63vw;
  background: url(../img/common/footer/bgi--01.jpg) top center/cover no-repeat;
  text-align: center;
  padding-top: calc(50% - 185px);
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.footer-bottom::before {
  content: "";
  width: 100%;
  height: 364px;
  position: absolute;
  top: -100px;
  left: 0;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .footer-bottom {
    height: 92vw;
    background: url(../img/common/footer/bgi--01.jpg) top center/cover no-repeat;
    padding-top: calc(50% - 42px);
  }
  .footer-bottom::before {
    height: 126px;
    top: -17px;
    background-size: contain;
  }
  .footer-bottom .footer-logo {
    width: 84px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.copy {
  position: absolute;
  font-size: 0.8rem;
  color: white;
  font-family: "futura-pt", sans-serif;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .copy {
    font-size: 0.6666666667rem;
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: lr-tb;
    writing-mode: horizontal-tb;
    left: 50%;
    top: auto;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    bottom: 13px;
    color: #fff;
  }
}
/* footer end */
