/* Message page start */
.page-main {
  height: 100vh;
}
.bgoverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-primary);
  background-position: right 30% bottom 0, left 0 bottom 0, right 0 top 0;
  background-size: auto 50%, auto 50%, auto 40%;
  background-repeat: no-repeat;
  text-align: center;
  opacity: 0.7;
  z-index: -1;
}

.msg-bgoverlay {
  background-image: url(../img/common/page/message-bg.png),
    url(../img/common/page/page-bg-01.png),
    url(../img/common/page/page-bg-02.png);
}

@media screen and (max-width: 425px) {
  .msg-bgoverlay {
    background-size: 80% auto, 100% auto, 80% auto;
  }
}

.row {
  gap: 2%;
}
.row img {
  max-width: 100%;
  margin: auto;
}

.message-page .mask-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}

.message-page .mask-wrapper .type1 {
  background: url(../img/message/desc/message-desc-bg01.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.message-page .mask-wrapper .type2 {
  background: url(../img/message/desc/message-desc-bg02.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.message-page .mask-wrapper .type3 {
  background: url(../img/message/desc/message-desc-bg03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .message-page .mask-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.message-section01 .section-content {
  margin-bottom: 60px;
}

.message-section02 .gridthreetwo-row {
  display: grid;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  padding: 60px 0;
}

.message-section02 .gridthreetwo-row img {
  max-width: 100%;
  margin: auto;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 15%;
  box-shadow: 5px 5px 10px #ccc;
}

.message-section02 .gridthreetwo-row img:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: all 1s;
}

@media screen and (max-width: 768px) {
  .message-section02 .gridthreetwo-row {
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 425px) {
  .message-section02 .gridthreetwo-row {
    grid-template-rows: repeat(6, minmax(0, 1fr));
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

/* Message page end */

/* About page start*/
.about-page,
.about-page .section-subtitle4 {
  text-align: left;
}
.about-page section:not(.page-main) .container > div {
  margin: 0 10vw;
}
.page-main {
  text-align: center;
}
.about-bgoverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-primary);
  background-image: url(../img/common/page/about-bg01.png),
    url(../img/common/page/page-bg-01.png),
    url(../img/common/page/page-bg-02.png);
  background-position: right 30% bottom -15%, left 0 bottom 0, right 0 top 0;
  background-size: auto 50%, auto 50%, auto 40%;
  background-repeat: no-repeat;
  text-align: center;
  opacity: 0.7;
  z-index: -1;
}
@media screen and (max-width: 425px) {
  .about-bgoverlay {
    background-size: 80% auto, 100% auto, 80% auto;
  }
}
.bgimg-secondary {
  background-image: url(../img/common/background/common-bg.webp);
  background-repeat: no-repeat;
  background-position: top 10% right 10%;
  background-size: 500px 500px;
}
.about-comintro {
  padding-top: 60px;
}
.about-comintro > div > div:not(:last-child) {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-bottom: 16px;
}
.about-comintro > div > div:last-child > iframe {
  width: 100%;
  aspect-ratio: 1/1;
}
.about-comintro > div > div > p:first-child {
  width: 300px;
  font-weight: 600;
}
.about-comintro > div > div > p:last-child {
  width: calc(100% - 300px);
}

.about-recruitinfo .container > div > div:not(:first-child) {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: flex-start;
}
.about-recruitinfo .container > div > div {
  padding-top: 40px;
}
.about-recruitinfo .container > div > div:last-child {
  padding-bottom: 120px;
}
@media screen and (max-width: 768px) {
  .bgimg-secondary {
    background-image: url(../img/common/background/s-972x972_v-fs_webp_095a8103-f9ce-4084-adce-5d4decc42fdf.webp);
    background-repeat: no-repeat;
    background-position: top 0 right 0;
    background-size: 300px 300px;
  }
  .about-comintro > div > div {
    gap: 10%;
  }
  .about-comintro > div > div > p:first-child {
    width: 200px;
  }
  .about-comintro > div > div > p:last-child {
    width: calc(100% - 200px);
  }
}
@media screen and (max-width: 425px) {
  .about-page section:not(.page-main) .container > div {
    margin: 0 5vw;
  }
  .about-comintro > div > div > p:first-child {
    width: 100px;
  }
  .about-comintro > div > div > p:last-child {
    width: calc(100% - 100px);
  }
  .about-recruitinfo .container > div > div:not(:first-child) {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    align-items: flex-start;
  }
}
/* About page end*/

/*Shopping page start*/
.shop-bgoverlay {
  background-image: url(../img/common/page/shopping-bg.png),
    url(../img/common/page/page-bg-01.png),
    url(../img/common/page/page-bg-02.png);
}
.shop-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  margin-top: 40px;
}

.shop-col img {
  max-width: 100%;
  /* height: 100%; */
  object-fit: cover;
  border-radius: 10%;
  box-shadow: 5px 5px 10px #ccc;
}
.shop-explusion {
  margin-bottom: 60px;
}
/* Shopping page end */

/*Contact page start*/
.contact-bgoverlay {
  background-image: url(../img/common/page/contact-bg.png),
    url(../img/common/page/page-bg-01.png),
    url(../img/common/page/page-bg-02.png);
}
.contact-info {
  margin-bottom: 60px;
}
.contact-tel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}
/*Contact page end*/

/* Privacy page start */
@media screen and (max-width: 768px) {
  .privacy-section {
    margin-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.border-dashed {
  border: none;
  border-top: 1px dashed #ccc;
  height: 1px;
}

.relative {
  position: relative;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-sm {
  margin-bottom: 10px;
}

.mb-main {
  margin-bottom: 30px;
}

.mb-lg {
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .mb-lg {
    margin-bottom: 40px;
  }
}

.mb-xl {
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .mb-xl {
    margin-bottom: 60px;
  }
}

.mb-xxl {
  margin-bottom: 120px;
}
@media screen and (max-width: 768px) {
  .mb-xxl {
    margin-bottom: 80px;
  }
}

.mb-max {
  margin-bottom: 150px;
}
@media screen and (max-width: 768px) {
  .mb-max {
    margin-bottom: 120px;
  }
}

.mb-5 {
  margin-bottom: 20px;
}

.animation-pic {
  height: auto;
  z-index: 1;
}
